#Rectangle1 {
  animation: rotate 2s ease forwards;
  transform-origin: center;
  transform-box: fill-box;
  filter: blur(10px);
}
#Rectangle1_2 {
  animation: rotate 2s 0.1s ease forwards;
  transform-origin: center;
  transform-box: fill-box;
  filter: blur(10px);
}

#Rectangle1_3 {
  animation: rotate 2s 0.2s ease forwards;
  transform-origin: center;
  transform-box: fill-box;
  filter: blur(10px);
}

#Rectangle1_4 {
  animation: rotate 2s 0.3s ease forwards;
  transform-origin: center;
  transform-box: fill-box;
  filter: blur(10px);
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
    filter: blur(10px);
  }
  to {
    transform: rotateZ(180deg);
    filter: blur(0px);
  }
}
